body{
    background:transparent;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 0.80em;    
    color: #333;
  }

a {
    color: #b01;
    text-decoration: none;
    background: transparent;
  }
   
  #side-bar a:visited,
  #interwiki a:visited {
    color: #b01;
  }
   
  a:visited {
    color: #824;
  }
   
  a.newpage {
    color: #d61;
    text-decoration: none;
    background: transparent;
  }
   
  a:hover {
    text-decoration: underline;
    background-color: transparent;
  }

  h1,
  #page-title {
    color: #901;
    padding: 0 0 0.25em;
    margin: 0 0 0.6em;
    font-weight: normal;
  }
   
  h1 {
    margin-top: 0.7em;
    padding: 0;
    font-weight: bold;
  }

  .content-panel {
    border: solid 1px #888880;
    border-radius: 10px;
    background-color: #999990;
    margin: 10px 0 15px;
    box-shadow: 3px 3px 6px #bbb;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  }
   
  .content-panel.standalone {
    background: #fcfdfb;
  }

.content-panel{
    padding: 1em;
}

.content-panel .content-type-title {
    font-size: 120%;
    font-weight: bold;
    padding: 5px 20px;
    background-color: #666;
    color: #fff;
    border-radius: 8px 8px 0 0;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.8),
      inset 0 15px 1px rgba(255,255,255,.2),
      inset 0 15px 10px rgba(255,255,255,.2);
  }
  .content-panel .content-type-description {
  padding: 0 20px;
  text-align: justify;
  }

  .content-panel.content-row .content-type-description {
    padding: 5px 20px;
    }

tr>td:nth-child(1){
    width:50%;
}
tr>td:nth-child(2){
    width:25%;
    text-align: center;
}
tr>td:nth-child(3){
    width:25%;
    text-align: center;
}
table{
    font-size: 1.1em;
    line-height: 1.3em;
}
tr{
    display: none;
}
tr.showing{
    display: table-row;
}
tr.TOPROW{
    display: table-row;
        font-weight: bold;
        color: #fff;
        background-color: #666;
}

.page_button .pre-current{
    display: none;
}

.current .target{
    display: none;
}

.page_button{
    display: inline-block;
}

.pager .current .pre-current {
display: inherit;
padding: 0 7px;
margin: 0 3px;
font-weight: bold;
background-color: #888;
color: #FFF;
border: 1px solid #333;
}
.pager {
margin: 0.5em 0;
text-align: center;
}

.pager-no {
padding: 0.2em 1em;
}
.pager .target {
padding: 0 7px;
margin: 0 3px;
border: 1px solid #CCC;
text-decoration: none;
}

.pager .target>a>div{
display: inline-block;
}