@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
body{
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}


    body{
        margin:0;
        background-color: rgba(20,20,20,1);
        color:ivory;
    }
    #HEADER a{
        color:inherit;
    }

    a{
        color: lightcyan;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    .site_name_a:hover{
        text-decoration: none;
    }
    #HEADER{
        position: fixed;
        width: 100%;
        height: 3em;
        margin: 0;
        border-bottom: solid silver;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 100%);
    }
    #HEADER .flex_box{
        margin: 0 auto 0;
        max-width: 64em;
        display: flex;
        justify-content:space-between;
    }

    #TOP_MENU.flex_box{
        justify-content: space-around;
        margin:0;
    }

    .top_menu_item{
        font-size: 1.5em;
        margin-right: 16px;
        line-height: 2;
        min-width: 2em;
        text-align: center;
    }

    .top_menu_item:hover{
        background-color: dimgray;
    }

    .SITE_NAME{
        text-align: center;
        font-size: 2em;
        font-weight:900;
    }


    .flex_box{
        display: flex;
        justify-content: center;
    }
    #contents_wrap{
        width: 46em;
        margin: 1em;
        border-radius: 13px;
        margin-top: 5.5em;
        background:rgba(35,35,35,1);
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
        height: fit-content;
    }
    .contents{
        padding-left: 2em;
        padding-right: 2em;
    }
    .contents .creation_date{
        text-align: right;
        font-size: 0.5em;
    }

    .contents .img-block{
        margin-bottom: 1em;
        text-align: center;
    }

    .contents iframe{
        max-width: 100%;
    }

    .contents img{
        max-width: 100%;
        margin: 0em auto;
    }


    #side_bar{
        color:darkgray;
        width:14em;
        margin:1em;
        padding: 1em;
        margin-top: 4.75em;
    }
    #side_bar a{
        color:darkgray;
    }
    .side_box{
        background:rgba(30,30,30,1);
        border-radius: 8px;
        margin-bottom: 32px;
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
        padding-bottom: 0.5em;
    }

    .side_box:hover, .side_box a div:hover{
        color:ivory;
    }


    .side_box>div,.side_box>p,.side_box>a>div{
        padding-left: 1em;
        padding-right: 1em;
    }
    .menu_title{
        color:azure;
        background: linear-gradient(0deg, rgba(10,10,10,1) 0%, rgba(35,35,35,1) 100%);
        border-radius: 5px 5px 0 0;
        margin-bottom: 0.5em;
        line-height: 1.5;
    }
    .menu_item:hover{
        background-color: dimgray;
    }
    .title{
        background: linear-gradient(0deg, rgba(15,15,15,1) 0%, rgba(35,35,35,1) 100%);
        color: aliceblue;
        padding: 0.5em;
        font-size: large;
        padding-left: 4em;
        border-radius: 10px 10px 0 0;
        font-size: 1.3em;
        font-weight: 600;
    }

    div.profile_icon{
        height: 128px;
        margin: 1em auto;
        width: 128px;
        background-image: url(https://cdn.discordapp.com/attachments/1043032784538705950/1049917063004696637/IMG_2763.jpg);
        background-size: cover;
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);


    }

    .profile_icon>img{
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
    }

    .social_icon{
        text-align: center;
    }
    .social_icon>a{
        display: inline-block;
        margin:0 3px;
    }
    .social_icon>a>div{
        border-radius: 5px;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.7);
        background-repeat: no-repeat;
        background-size: contain;
        height: 24px;
        width: 24px;
    }
    .facebook{
        background-image: url('https://cdn-icons-png.flaticon.com/512/174/174848.png');
    }
    .youtube{
        background-image: url('https://cdn-icons-png.flaticon.com/512/3938/3938026.png');
    }
    .twitter{
        background-image: url('https://cdn-icons-png.flaticon.com/512/3256/3256013.png');
    }


    ::-webkit-scrollbar {
        cursor: pointer;
        border: none;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(40, 40, 40);
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(55, 55, 55);
    }
    
    ::-webkit-scrollbar-track {
        background: rgb(20, 20, 20);
    }
    
      




    #open_side,#open_side2{
        display: none;
    }

    #open_side:hover,#open_side2:hover{
        text-decoration: none;
    }

    #mobile_site_name{
        display: none;
    }

    @media (max-width:900px) {
        #side_bar{
            z-index: 2;
            display: none;
            color: ivory;
        }
        #side_bar a{
            color: ivory;
        }
        #open_side{
            display: block;
            float: left;
        }
        .site_name_a{
            float: right;
        }
        #side_bar.opened{
            display: block;
            position:fixed;
            overflow-y: auto;
            height: 80vh;
        }
        #main_wrap.flex_box{
            justify-content: inherit;
        }
        #contents_wrap{
            margin:5.5em auto;
        }
        .opened + #contents_wrap #filter{
            position: fixed;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.7);
            height: 100vh;
            width: 100vw;
            top:0;
            left:0;
        }
    }


    @media (max-width:540px) {
        #HEADER{
            height: auto;
        }
        #open_side{
            display: none;
            float: left;
        }
        #open_side2{
            display: block;
        }


        .SITE_NAME{
            display: none;
        }
        #mobile_site_name{
            display: block;
            width: 100%;
        }
        #mobile_site_name .SITE_NAME{
            display: block;
        }
        #mobile_site_name>.site_name_a{
            width: 100%;
        }


        #HEADER .flex_box{
            flex-wrap: wrap;
            height: auto;
        }
        #TOP_MENU{
            width: 100%;
        }

        #contents_wrap{
            margin-top: 8em;
        }

        #side_bar{
            margin-top: 6.75em;
        }

    }